<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            padding: 20px;
        }

        h2 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2em;
            line-height: 2.1;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 2.5em;
            margin-bottom: 20px;
            color: #fff; /* Adding color to match the "About Us" section */
        }

        /* Styling for the "Soon" section */
        .soon-section {
            font-size: 2.5;
            line-height: 2.1;
            margin-bottom: 20px;
            color: #fff; /* Text color for the "Soon" section */
        }
    </style>
</head>
<body>
    <h2>About Us</h2>
    <p>
        Welcome to Our Web Site, where cinematic dreams come alive!<br>
        Our shelves brim with everything from timeless classics to the latest blockbusters.<br>
        We're passionate about movies and dedicated to helping you find the perfect film.<br>
        Join us for events and screenings, and let's celebrate the magic of storytelling together.<br>
        Thank you for visiting our website. Grab your popcorn, explore our reviews,
        and embark on a cinematic adventure with us!
    </p>

    <h3>Soon:</h3>
    <div class="soon-section">

        You can become a part of our community!<br>
        Share your thoughts, recommendations, and favorite movies.<br>
        We're here to celebrate the art of filmmaking together.

    </div>
</body>
</html>
